body {
    font-family: Arial, sans-serif;
    background-image: url('../img/image 2.svg'); 
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'Sansita One';
    font-size: 3rem;
    color: #546169;
}

.opciones {
    font-family: serif;
    color: #546169;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 0 20px;
}

main {
    padding: 20px;
}

#notas {
    padding: 20px;
    border-radius: 8px;
}

#notas h2 {
    margin-top: 0;
    color: #546169;
    font-size: 1.8rem;
}

.notas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nota {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 8px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    position: relative;
    min-width: 200px;
    max-width: 300px;
    height: 15rem;
}

.nota h3 {
    margin-top: 0;
}

.actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.actions button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.actions .delete {
    background-image: url('../img/deleteicon 1.svg');
}

.actions .edit {
    background-image: url('../img/editicon 3.svg');
}
.actions .restore{
    background-image: url('../img/restoreicon 1.svg');
}

.add-note {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../img/1564491_add_create_new_plus_icon 1.svg'); /* Ruta de la imagen del bot칩n agregar */
}

@media (max-width: 768px) {
    .nota {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .nota {
        flex: 1 1 100%;
    }
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Ajuste para centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; /* Ajuste para el ancho m치ximo del modal */
    border-radius: 8px;
    position: relative;
    display: flex; /* A침adido */
    flex-direction: column; /* A침adido */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    font-family: 'Sansita One';
    color: #546169;
    margin-bottom: 20px;
}

#noteForm {
    display: flex;
    flex-direction: column;
}

#noteTitle {
    font-size: 1.5rem;
    font-family: 'Sansita One';
    margin-bottom: 10px;
}

#noteDescription {
    border: none;
    resize: none;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    flex-grow: 1;
}

#noteCategory {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.check {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    align-self: flex-end;
    background-image: url('../img/checkicon 1.svg'); 
}

/*modal 2

/* Modal styles */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal2 h2 {
    font-family: 'Sansita One';
    color: #546169;
    margin-bottom: 20px;
}

#noteTitle2 {
    font-size: 1.5rem;
    font-family: 'Sansita One';
    margin-bottom: 10px;
}

#noteDescription2 {
    border: none;
    resize: none;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    flex-grow: 1;
}

#noteCategory2 {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.Productividad{
    background-color: #5ccb5f;
}

.Tarea{
    background-color: #bc4ed8;
}

.Pendiente{
    background-color: #ffa372;
}

.Creatividad{
    background-color: #81c9fa;
}

.Recordatorio{
    background-color: #ffa8d9;
}

