@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


body{
    background-color:#3f484e ;
    background-image: url('../img/loginbg2.jpg');
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: 50% 10%;
}


p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0;
    margin:0;
    color:#546169;
}

#NoteTitle{
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 6em;
    color: #546169;
    margin:0;
    padding:0;
}

#avisoDatos{
font-size: 1.2em;
}

.register {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.camposregistro{
    display: flex;
   margin-top: 20px;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
   margin-bottom: 2em;
   padding-top: 1.8em;
}

input{
    height: 35px;
    width: 25em;
    border-radius: 10px;
    border:none;
    background-color: #D9D9D9;
    transition: border-color 0.9s ease, background-color 0.3s ease;
 }

 input:hover{
    background-color:#9a9898 ;
 }

 ::placeholder{
    color: #546169;
    padding-left: 8px;
    font-size: 1.2em;
}

 button{

    border-radius: 18px;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.btn-login{
    background-color: #292D2E;
    height: 40px;
    width: 150px;
    transition: transform 0.3s ease;
}

.btn-register{
    background-color: #546169;
    height: 50px;
    width: 110px;
    transition: transform 0.3s ease;
}

.btn-register:hover{
    background-color:#212f37
}

.btn-login:hover{
    background-color: #121212;
}

.btn-register:hover, .btn-login:hover {
    transform: scale(1.1); /* Hace que el botón se agrande al 110% del tamaño original */
}

.botonesregistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
}

.cuenta-texto {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #546169;
    margin-top: 1em; /* Asegura que no haya margen adicional */
    padding: 0; /* Asegura que no haya padding adicional */
}
